<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLovel="Info"
      internalLogFile="c:\Temp\NLogSample\NLogSample.txt">
      <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
      </extensions>
      <targets>
        <target xsi:type="File" name="all_logs" fileName="c:\Temp\NLogSample\all.log"/>
        <target xsi:type="File" name="relevant_logs" fileName="c:\Temp\NLogSample\relevant.log"/>
      </targets>
      <rules>
        <logger name="*" minlevel="Debug" writetTo="all_logs"/>
        <logger name="*" minlevel="Warn" writetTo="relevant_logs"/>
      </rules>
</nlog>
      